*generated_queries.sql
openai_keys.sh
weights_in_dot/
weights/
training_dbs/untrained_db_2_performance_graph_100K.sql
.vscode
.DS_Store
/target
data/
training_dbs/
weights/
weights_in_dot/
parser_bugs.sql
t.sql
experiment_artifacts/
experiment_results/
